body {
  
       padding-top: 40px;
       padding-bottom: 40px;
       height: 650px;
  background-color: #eee;

}
.login-header{
               padding:10px 0 0 12px;_padding:0
}
.foot{
       bottom:0;min-width:1002px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?"1002px":"100%");text-align:center;margin-top:50px;padding-top:30px;_margin-top:10px;padding:30px 0;clear:both;color:#666;font:12px/1.5 tahoma,arial,ו
}
.clearfix {
            overflow: hidden;
}
div[id="login-middle"] {
                clear: both;
                width: 100%;
                height: 50px;
                position: relative;
}
div[id="login"]{

                width: 450px;
                height: 400px;
                overflow: hidden;
                position: relative;
}
div[type="login-form"] {
	max-width:450px;
	background-color: #f7f7f7;
	margin:0px 25px auto 20px;
    float: right;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 15px;
    height: 350px;
    opacity:0.9;
}
div[id="finding-pawd"]{
    width: 100%;
}
div[id="nav"]{
    width: 100%;
    height: 46px;
}
.img-change{
    padding-left: 10px;
    padding-top: 9px;
    float: left;
    text-decoration: underline;
}
.code{
font-family:Arial,ו;
font-style:italic;
color:green;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
}
.unchanged {
border:0;
}
.footer{
    color:#777;
    text-align:center;
    padding:30px 0;
    position: relative;
    margin-top:450px;
    border-top:1px solid #e5e5e5;
}