body {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #eee;
}
.signin-header{
               padding:10px 0 0 12px;_padding:0
}
.foot{
       bottom:0;min-width:1002px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?"1002px":"100%");text-align:center;margin-top:50px;padding-top:30px;_margin-top:10px;padding:30px 0;clear:both;color:#666;font:12px/1.5 tahoma,arial,宋体
}
.clearfix {
            overflow: hidden;
}
div[id="signin-middle"] {
                clear: both;
                width: 100%;
                height: 25px;
                position: relative;
}
div[id="signin"]{

                width: 500px;
                height: 500px;
                overflow: hidden;
                position: relative;
}
div[type="signin-form"] {
	max-width:500px;
	background-color: #f7f7f7;
	margin:0px 40px auto 10px;
    float: right;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 15px;
    height: 380px;
    opacity:0.9;
}
.code{
font-family:Arial,宋体;
font-style:italic;
color:green;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
}
.unchanged {
border:0;
}
.img-change{
    padding-left: 10px;
    padding-top: 9px;
    float: left;
    text-decoration: underline;
}
.footer{
    color:#777;
    text-align:center;
    padding:30px 0;
    position: relative;
    margin-top:460px;
    border-top:1px solid #e5e5e5;
}