<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <!-- 管理员 -->  
 
    <bean id="files" class="manager.implementation.FilesServiceImpl"></bean>
    <bean id="user" class="manager.implementation.UserServiceImpl"></bean>
    <bean id="adminLoginService" class="manager.implementation.AdminLoginServiceImpl"></bean>
   
    <!-- 管理员根据文件名搜索文件 -->
    <bean id="searchFilesAction" class="manager.action.SearchFilesAction" scope="prototype">
        <property name="search" ref="files"></property>
    </bean>
    
    <bean id="getFileInfoAction" class="manager.action.SearchFilesAction" scope="prototype">
        <property name="search" ref="files"></property>
    </bean>
    
    <bean id="searchUserAction" class="manager.action.SearchUserAction" scope="prototype">
        <property name="searchUser" ref="user"></property>
    </bean>
    
    <bean id="getUserInfoAction" class="manager.action.SearchUserAction" scope="prototype">
        <property name="searchUser" ref="user"></property>
    </bean>
    
    <bean id="deleteUsersAction" class="manager.action.DeleteUsersAction" scope="prototype">
        <property name="user" ref="user"></property>
    </bean>
    
    <bean id="disableUsersAction" class="manager.action.DisableUsersAction" scope="prototype">
        <property name="user" ref="user"></property>
    </bean>
    
    <bean id="activeUsersAction" class="manager.action.ActiveUsersAction" scope="prototype">
        <property name="user" ref="user"></property>
    </bean>
    
    <!-- 管理员删除文件 -->
    <bean id="managerDeleteFileAction" class="manager.action.DeleteFileAction" scope="prototype">
        <property name="delete" ref="files"></property>
    </bean>
    
     <!-- 管理员设置用户级别 -->
    <bean id="setUserLevelAction" class="manager.action.SetUserLevelAction" scope="prototype">
        <property name="user" ref="user"></property>
    </bean>
    
    <!-- 管理员设置级别与存储空间的对应关系 -->
    <bean id="setStorageCapacityAction" class="manager.action.SetStorageCapacityAction" scope="prototype">
        <property name="user" ref="user"></property>
    </bean>
    
    <bean id="adminLoginAction" class="manager.action.AdminLoginAction" scope="prototype">
    	<property name="als" ref="adminLoginService"></property>
    </bean>
 
 <!-- 用户 -->   
    
    <bean id="shareFiles" class="user.implementation.ShareFilesServiceImpl"></bean>
    <bean id="folder" class="user.implementation.FolderServiceImpl"></bean>
    <bean id="userSearch" class="user.implementation.UserSearchServiceImpl"/>
    <bean id="email" class="user.implementation.EmailServiceImpl"/>
    <bean id="downloadImpl" class="user.implementation.DownloadServiceImpl"/>
    <bean id="playAVIServiceImpl" class="user.implementation.PlayAVIServiceImpl"/>
    
    <bean id="uploadServiceImpl" class="user.implementation.UploadFileServiceImpl"/>
	<bean id="fileServiceImpl" class="user.implementation.UserFilesServiceImpl"/>
	<bean id="registerService" class="user.implementation.RegisterServiceImpl"></bean>
	<bean id="loginService" class="user.implementation.LoginServiceImpl"></bean>
	<bean id="modifyPersonInformationService" class="user.implementation.ModifyPersonInformationServiceImpl"></bean>
	<bean id="modifyPasswordService" class="user.implementation.ModifyPasswordServiceImpl"></bean>
	<bean id="personInformationService" class="user.implementation.PersonInformationServiceImpl"></bean>
	<bean id="StartTranscodeingServiceImpl" class="user.implementation.StartTranscodeingServiceImpl"/>
    
    <!-- 文件下载  -->
    <bean id="downloadAction" class="user.action.DownloadAction" scope="prototype">
        <property name="ds" ref="downloadImpl"></property>
    </bean>
    
    <!-- 点击进入文件夹，显示该文件夹的所有文件(夹) -->
    <bean id="enterFolderAction" class="user.action.FoldersAction" scope="prototype">
        <property name="ufs" ref="fileServiceImpl"></property>
    </bean>
    
    <!-- 保存下载操作日志 -->
    <bean id="saveDownloadLog" class="user.action.SaveDownloadLog" scope="prototype">
    </bean>
    
    <!-- 共享文件, 取消共享 -->
    <bean id="shareFilesAction" class="user.action.ShareFilesAction" scope="prototype">
        <property name="share" ref="shareFiles"></property>
    </bean>
    
    <!-- 找回密码 -->
    <bean id="sendEmailAction" class="user.action.SendEmailAction" scope="prototype">
        <property name="email" ref="email"></property>
    </bean>
    
    <!-- 创建文件夹, 删除文件夹 -->
    <bean id="foldersAction" class="user.action.FoldersAction" scope="prototype">
        <property name="folder" ref="folder"></property>
    </bean>
    
    <!-- 用户在"共享中心"搜索文件, 在"我的共享"搜索自己的文件 -->
    <bean id="userSearchAction" class="user.action.UserSearchAction" scope="prototype">
        <property name="search" ref="userSearch"></property>
    </bean>
    
    <!-- 用户注册 -->
    <bean id="registerAction" class="user.action.RegisterAction" scope="prototype">
    	<property name="rs" ref="registerService"></property>
    </bean>
    
    <!-- 用户登录 -->
    <bean id="loginAction" class="user.action.LoginAction" scope="prototype">
    	<property name="ls" ref="loginService"></property>
    </bean>
    
	<!-- 用户修改个人信息 -->
	<bean id="modifyPersonInformationAction" class="user.action.ModifyPersonInformationAction" scope="prototype">
    	<property name="mpis" ref="modifyPersonInformationService"></property>
    </bean>
    
    <!-- 用户修改密码 -->
    <bean id="modifyPasswordAction" class="user.action.ModifyPasswordAction" scope="prototype">
    	<property name="mps" ref="modifyPasswordService"></property>
    </bean>
    
    <!-- 用户查看个人信息 -->
    <bean id="personInformationAction" class="user.action.PersonInformationAction" scope="prototype">
    	<property name="pis" ref="personInformationService"></property>
    </bean>
    
    <!-- 用户从主页跳到个人信息 -->
    <bean id="enterPersonInfoAction" class="user.action.EnterPersonInfoAction" scope="prototype">
    </bean>
   
	<!-- 文件上传bean -->
    <bean id="uploadAction" class="user.action.UploadFileAction" scope="prototype">
        <property name="uploadFileService" ref="uploadServiceImpl"></property>
    </bean>
    
    <!-- 文件转码 -->
    <bean id="StartTranscodeingAction" class="user.action.UploadSuccessAction" scope="prototype">
        <property name="uploadSuccessService" ref="StartTranscodeingServiceImpl"></property>
    </bean>
	
	<!-- 文件删除bean -->
    <bean id="deleteAction" class="user.action.DeleteFileAction" scope="prototype">
        <property name="deleteFileService" ref="fileServiceImpl"></property>
    </bean>
    
	<!-- 文件改名  -->
    <bean id="ModifyFileNameAction" class="user.action.ModifyFileNameAction" scope="prototype">
        <property name="userFilesService" ref="fileServiceImpl"></property>
    </bean>
    
    <!-- 文件夹改名  -->
    <bean id="ModifyFolderNameAction" class="user.action.ModifyFolderNameAction" scope="prototype">
        <property name="modifyFolderName" ref="folder"></property>
    </bean>
    
    <bean id="playAVIAction" class="user.action.PlayAVIAction" scope="prototype">
        <property name="playaviservice" ref="playAVIServiceImpl"></property>
    </bean>
	
	<bean id="transferToMeAction" class="user.action.TransferToMeAction" scope="prototype">
        <property name="ufs" ref="fileServiceImpl"></property>
    </bean>
    
    <bean id="myShareAction" class="user.action.MyShareAction" scope="prototype">
        <property name="share" ref="shareFiles"></property>
    </bean>
</beans>